
    body{
        margin:0;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        background:#000;
        font-family: 'Segoe UI', sans-serif;
        overflow:hidden;
        color:#fff;
    }

    .container{
        text-align:center;
    }

    /* Circle */
    .circle{
        width:260px;
        height:260px;
        margin: 0 auto;
        border:3px dashed rgb(238, 15, 126);
        border-radius:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
        animation: rotate 6s linear infinite;
    }

    @keyframes rotate{
        from{transform:rotate(0deg);}
        to{transform:rotate(360deg);}
    }

    /* Year text */
    .year{
        font-size:40px;
        font-weight:bold;
        letter-spacing:4px;
        position: relative;
    }

    .five{
        display:inline-block;
        animation: flyUp 2s ease forwards;
        animation-delay:2s;
    }

    @keyframes flyUp{
        to{
            transform:translateY(-150px);
            opacity:0;
        }
    }

    .six{
        position: absolute;
        display:inline-block;
        right: 0;
        top: 0;
        opacity:0;
        animation: comeIn 2s ease forwards;
        animation-delay:4s;
        color:#c83474;
    }

    @keyframes comeIn{
        0%{
            transform:translateY(150px);
            opacity:0;
            text-shadow: none;
            
        }
        70%{
            /* transform:translateY(0); */
            text-shadow: 0 0 20px #935e83;
            opacity:1;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
            text-shadow: 0 0 15px #af2e77,
            0 0 30px #be1371,
            0 0 60px #550c41
        }
    }

    /* Happy New Year */
    .hny{
        margin-top:40px;
        font-size:20px;
        opacity:0;
        animation: showText 2s ease forwards;
        animation-delay:6.5s;
        color:rgb(202, 6, 81);
        /* font-weight: 700; */
        font-family:monospace;
        /* text-shadow:0 0 20px rgb(227, 14, 177); */
        transform: translateY(-5px);
    }

    @keyframes showText{
        from{
            transform:translateY(60px);
            opacity:0;
        }
        to{
            transform:translateY(0);
            opacity:1;
        }
    }
    .snow{
        position: absolute;
        left: 20%;
        animation: rote 5s linear infinite;
    }
    .snow1{
        position: absolute;
        left: 80%;
        animation: rote 5s linear infinite;
    }
    .snow2{
        position: absolute;
        left: 30%;
        top: 60%;
        animation: rote 5s linear infinite;
    }
    .snow3{
        position: absolute;
        left: 35%;
        top: 40%;
        animation: rote 5s linear infinite;
    }
    .snow4{
        position: absolute;
        left: 65%;
        top: 50%;
        animation: rote 5s linear infinite;
    }
    .snow5{
        position: absolute;
        left: 65%;
        top: 20%;
        animation: rote 5s linear infinite;
    }
    .snow6{
        position: absolute;
        left: 35%;
        top: 15%;
        animation: rote 5s linear infinite;
    }
     .snow7{
        position: absolute;
        left: 80%;
        top: 75%;
        animation: rote 5s linear infinite;
    }
     .snow8{
        position: absolute;
        left: 50%;
        top: 85%;
        animation: rote 5s linear infinite;
    }
     @keyframes rote{
        from{transform:rotate(0deg);}
        to{transform:rotate(360deg);}
    }